{% extends 'base.html.twig' %}

{% block title %}New Teams{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12 ">
            <h1>Create new Teams</h1>
            <div class="row">
                <div class="col-6">
                    <fieldset>
                        <h3>Team :</h3>
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.moneyBalance) }}

                        <h3>Players :</h3>
                        <fieldset class="border p-2">
                            <div class="col-sm-8 col-sm-offset-2" id="player_list"
                                data-prototype="{{ form_widget(form.players.vars.prototype)|e('html_attr') }}">
                                <div class="panel panel-warning">
                                    {% for row in form.players %}
                                    <div class="panel-body">
                                        {{ form_row(row) }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.save,{ 'label': 'Create this team' })}}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </fieldset>
                </div>
            </div>
            <a href="{{ path('app_teams_index') }}">back to list</a>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/newplayer.js') }}" defer></script>
{% endblock %}